@media (min-width: 320px) and (max-width : 768px) {

    .container {
        width: 100%;
    }

    .mb-80 {
        margin-bottom: 40px !important;
    }

    .font60 {
        font-size: 24px;
    }

    .w-full {
        width: 100%;
    }

    video {
        height: auto;
    }

    .gap132 {
        gap: 40px;
    }

    .bg-redblue {
        padding-top: 100px !important;
        padding-bottom: 40px !important;
    }

    nav ul li {
        align-self: flex-start;
        margin-bottom: 15px;
        margin-left: 20px;
    }

    .abs2 {
        top: 100%;
        left: 0;
        width: fit-content;
    }

    .box3 {
        width: 100%;
    }

    .w-80 {
        width: 80%;
    }

    .p-aboutbanner {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .media::after {
        padding: 18px 20px;
        left: 200px;
        bottom: 0px;
    }

    .media {
        flex-direction: row;
    }

    .mb-48 {
        margin-bottom: 26px !important;
    }

    .gap50 {
        gap: 20px;
    }

    .gap32 {
        gap: 10px;
    }

    .btn {
        padding: 10px;
        font-size: 12px;
    }

    .btnn {
        padding: 10px;
        font-size: 12px;
    }

    .mb-24 {
        margin-bottom: 10px !important;
    }

    .pt-50 {
        padding-top: 20px;
    }

    .mb-38 {
        margin-bottom: 20px !important;
    }

    .gap40 {
        gap: 20px;
    }

    .mb-32 {
        margin-bottom: 15px !important;
    }

    .mb-34 {
        margin-bottom: 15px !important;
    }

    .py-100 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header {
        position: unset;
        padding: 0 20px;
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .w-half {
        width: 100%;
    }

    .gap96 {
        gap: 40px;
    }


    .mb-56 {
        margin-bottom: 30px !important;
    }

    .mb-52 {
        margin-bottom: 26px !important;
    }

    .p-homebanner {

        padding-bottom: 40px;
        padding-top: 40px;
    }

    .w-966 {
        width: 100%;
    }

    .flex1 {
        flex: none;
        width: 100%;
    }

    label {
        display: block;
    }

    .gap12 {
        gap: 4px;
    }

    .font72 {
        font-size: 32px;
    }

    .font64 {
        font-size: 28px;
    }

    .font34 {
        font-size: 22px;
    }

    .font32 {
        font-size: 21px;
    }

    .font30 {
        font-size: 20px;
    }

    .font24 {
        font-size: 18px;
    }

    .font18 {
        font-size: 16px;
    }

    .font16 {
        font-size: 14px;
    }

    .gap116 {
        gap: 0px;
    }

    .pb-100 {
        padding-bottom: 20px;
    }

    .pt-100 {
        padding-top: 20px;
    }

    .mb-100 {
        margin-bottom: 100px;
    }

    .dropdown {
        display: inline-block;
    }

    .dropdown-content {
        position: absolute;
        background-color: #fff;
        right: 0;
        opacity: 0;
        visibility: hidden;
        top: 100px;
        width: 100%;
        z-index: 9999;
        transition: all 0.3s ease-in-out;
    }

    #toggle:checked+label+.dropdown-content {
        opacity: 1;
        visibility: visible;
    }

    .flex {
        flex-wrap: wrap;

    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 20px 0;
    }

    .px-100 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .box2 {
        padding: 0;
    }

    .inp {
        width: 100px;
    }

    .inp::placeholder {
        font-size: 12px;
    }

    #modal {
        width: 100%;
    }
}

@media (min-width:768px) and (max-width: 992px) {

    .container {
        width: 700px;
    }

    .dropdown {
        display: inline-block;
    }

    .dropdown-content {
        position: absolute;
        right: 0;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        top: 100px;
        width: 100%;
        z-index: 9999;
        transition: all 0.3s ease-in-out;
    }


    nav ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 700px;
        margin: 40px auto;
    }


    #toggle:checked+label+.dropdown-content {
        opacity: 1;
        visibility: visible;
    }

    .mb-80 {
        margin-bottom: 40px !important;
    }

    .w-40 {
        width: fit-content;
    }

    .font60 {
        font-size: 24px;
    }

    video {
        height: auto;
    }

    .gap132 {
        gap: 40px;
    }

    .bg-redblue {
        padding-top: 100px !important;
        padding-bottom: 40px !important;
    }

    nav ul li {
        align-self: flex-start;
        margin-bottom: 20px;
    }

    .abs2 {
        top: 100%;
        left: 0;
        width: fit-content;
    }

    .p-aboutbanner {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .media::after {
        padding: 18px 20px;
        left: 200px;
        bottom: 0px;
    }

    .media {
        flex-direction: row;
    }

    .mb-48 {
        margin-bottom: 26px !important;
    }

    .gap50 {
        gap: 20px;
    }

    .py-100 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header {
        position: unset;
        padding: 0 20px;
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        padding-left: 20px;
        padding-right: 20px;

    }

    .gap96 {
        gap: 40px;
    }

    .mb-56 {
        margin-bottom: 30px !important;
    }

    .mb-52 {
        margin-bottom: 26px !important;
    }

    .p-homebanner {

        padding-bottom: 40px;
        padding-top: 40px;
    }

    .w-966 {
        width: 100%;
    }

    .flex1 {
        flex: none;
        width: 50%;
    }

    label {
        display: block;
    }

    .font72 {
        font-size: 32px;
    }

    .font64 {
        font-size: 28px;
    }

    .font34 {
        font-size: 22px;
    }

    .font32 {
        font-size: 21px;
    }

    .font30 {
        font-size: 20px;
    }

    .font24 {
        font-size: 18px;
    }

    .font18 {
        font-size: 16px;
    }

    .font16 {
        font-size: 14px;
    }

    .gap116 {
        gap: 0px;
    }

    .pb-100 {
        padding-bottom: 20px;
    }

    .pt-100 {
        padding-top: 20px;
    }

    .mb-100 {
        margin-bottom: 100px;
    }

    .flex {
        flex-wrap: wrap;

    }


    .px-100 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .box2 {
        padding: 0;
    }

    .inp {
        width: 100px;
    }

    .inp::placeholder {
        font-size: 12px;
    }


}


@media (min-width:992px) and (max-width: 1240px) {

    .container {
        width: 970px;
    }

    .mb-80 {
        margin-bottom: 40px !important;
    }

    .font60 {
        font-size: 24px;
    }

    .gap116 {
        gap: 40px;
    }

    .gap8 {
        gap: 0;
    }


    video {
        height: auto;
    }

    .gap132 {
        gap: 40px;
    }


    .bg-redblue {
        padding-top: 100px !important;
        padding-bottom: 40px !important;
    }


    .abs2 {
        top: 100%;
        left: 0;
        width: fit-content;
    }


    .p-aboutbanner {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .media::after {
        padding: 18px 20px;
        left: 200px;
        bottom: 0px;
    }

    .media {
        flex-direction: row;
    }

    .mb-48 {
        margin-bottom: 26px !important;
    }

    .gap70 {
        gap: 90px;
    }

    .py-100 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header {
        position: unset;
        padding: 0 20px;
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        padding-left: 20px;
        padding-right: 20px;
    }



    .gap96 {
        gap: 40px;
    }


    .mb-56 {
        margin-bottom: 30px !important;
    }

    .mb-52 {
        margin-bottom: 26px !important;
    }

    .p-homebanner {

        padding-bottom: 40px;
        padding-top: 40px;
    }

    .w-966 {
        width: 100%;
    }



    .font72 {
        font-size: 32px;
    }

    .font64 {
        font-size: 28px;
    }

    .font34 {
        font-size: 22px;
    }

    .font32 {
        font-size: 21px;
    }

    .font30 {
        font-size: 20px;
    }

    .font24 {
        font-size: 18px;
    }

    .font18 {
        font-size: 16px;
    }

    .font16 {
        font-size: 14px;
    }



    .pb-100 {
        padding-bottom: 20px;
    }

    .pt-100 {
        padding-top: 20px;
    }

    .mb-100 {
        margin-bottom: 100px;
    }



    header .justifybetween {
        justify-content: start;
    }

    nav ul a {
        padding: 0 8px;

    }


    .px-100 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .box2 {
        padding: 0;
    }

    .inp {
        width: 100px;
    }

    .inp::placeholder {
        font-size: 12px;
    }

}